.homepage {
	width: 100%;
	height: 100%;
	text-align: left;
	background: #fff;
}

.div_content {
	/*margin: 0 0.7rem;*/
	margin-top: 1.5rem;
}

.h_pd_title {
	text-align: center;
	line-height: 3rem;
	color: #333;
	font-size: 1.05rem;
}

.div_pg_know {
	margin-left: 1rem;
}

.div_pg_know .desc {
	font-size: 1rem;
	color: #aaa;
	line-height: 1.8;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.div_pg_desc_task {
	padding: 0 0.7rem;
	padding-top: 1rem;
	background: none;
	/*background: -webkit-linear-gradient(left, #FFF9FD, #FF6DB7, #FFF9FD);
	background: linear-gradient(to right, #FFF9FD, #FF6DB7, #FFF9FD);*/
}

.div_pg_know_list {
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	padding-bottom: 6rem;
}

.span_pg_title {
	font-weight: bold;
}

p.p_pg_desc {
	line-height: 1.8;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.grad2 {
	line-height: 1.7;
}

.grad2 span:first-child {
	color: #333;
	font-weight: bold;
}

.grad2 span:last-child {
	color: #666;
}

.ul-task li {
	padding: 0.3rem 0;
}

.ul-task li img {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.3rem;
}

.div-sign-dialog {
	border-radius: 1rem;
	text-align: center;
}

.div-sign-dialog h1 {
	width: 15%;
	height: 4rem;
	margin-left: 43%;
	background: #fff;
	position: absolute;
	top: -2rem;
	text-align: center;
	line-height: 4rem;
	border-radius: 5px;
	color: #FC9FD7;
}

.div-sign-dialog .div-days {
	width: 100%;
	height: 4.5rem;
	background: #FC9FD7;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 10px 10px 0 0;
}

.div-today {
	/*position: absolute;*/
	margin-top: 1rem;
}

.div-days p {
	font-size: 1.05rem;
	margin-top: 2.7rem;
	color: white;
}

.integral-horizontal-line {
	width: 32%;
	height: 5px;
	padding-bottom: 0.65rem;
	margin-left: -4%;
	margin-right: -2%;
}

.integral-vertical-line {
	width: 5px;
	height: 25%;
	margin-left: 90%;
	margin-top: -0.5rem;
}

.integral-horizontal-pic {
	width: 13%;
}

.integral-vertical-pic {
	width: 13%;
	margin-left: 85%;
	margin-top: -0.5rem;
}

.bottom {
	margin-top: -2rem;
}

.btn-sign {
	width: 60%;
	position: absolute;
	bottom: 1rem;
	left: 20%;
	color: white;
	outline: none;
	border: none;
	font-size: 1.1rem;
}

.sign {
	background: #FC9FD7;
}

.signed {
	background: #ccc;
}


/*.canvas-container {
	zoom: 0.5;
}*/

#myCanvas {
	margin-top: 1rem;
	width: 100%;
}

.div-add-integral {
	width: 10%;
	display: flex;
	visibility: hidden;
	position: absolute;
	text-align: center;
	margin-left: 45%;
	align-items: center;
	opacity: 1;
	left: 0;
	bottom: 10%;
	/*animation: integral 5s;*/
	transition: all 3s;
	-moz-transition: all 3s;
	-webkit-transition: all 3s;
	font-size: 1rem;
	z-index: 100;
}

.div-add-integral img {
	width: 1rem;
	transition: all 3s;
	-moz-transition: all 3s;
	-webkit-transition: all 3s;
}

.baby-name {
	color: #333;
	font-size: 1.15rem;
}

.home-title {
	color: #333;
	font-size: 1.25rem;
	font-weight: bold;
	border-left: 3px solid #333;
	padding-left: 0.3rem;
}

.knowledge-name {
	color: #333;
	font-size: 1.1rem;
}

.task-tip {
	padding: 0.5rem;
	color: #bbb;
	border-top: 10px solid #f5f5f5;
	border-bottom: 10px solid #f5f5f5;
	display: flex;
}

.task-tip img {
	width: 1.5rem;
	height: 1.5rem;
}

.task-tip span {
	/*width: 80%;*/
	font-size: 0.9rem;
	margin-left: 1rem;
	color: #555;
	font-weight: bold;
	padding-top: 3px;
}

.baby-state {
	background: url(../assets/1x/qipao.png);
	margin-top: -20%;
}

.know-carousel {
	width: 100%;
	height: 10rem;
	border-top: 10px solid #f5f5f5;
	border-bottom: 10px solid #f5f5f5;
}

.home-search {
	position: absolute;
	top: 0.6rem;
	left: 1.5rem;
	width: 80%;
	background: #FE99CC;
	outline: none;
	border: none;
	border-radius: 1rem;
	padding: 0.5rem 0;
	text-align: center;
}

.sign-red-point {
	position: absolute;
	top: 7px;
	right: 0;
	width: 10px;
	height: 10px;
}

.mint-header {
	padding-right: 7px;
}

#task-left-pic {
	width: 50%;
	height: auto;
}

.loadingImg {
	width: 50%;
	position: absolute;
	top: 30%;
	left: 25%;
}