.person {
	width: 100%;
	height: 100%;
	background: #F6F6F6;
	overflow-x: hidden;
}

.btn-goLogin {
	margin: 10rem 10%;
	width: 80%;
	height: 3rem;
	background: rgb(252, 159, 215);
	border: none;
	border-radius: 10rem;
	outline: none;
}

.div-detail p {
	padding-bottom: 1rem;
}

.div-top {
	width: 100%;
	height: 15rem;
	background: #FF6DB6;
	background-size: cover;
	border: none;
}


/*background: url(../assets/person_background.png);*/

.div-top .span-modify {
	padding: 0.6rem 0.5rem 3em 3rem;
	font-size: 1.05rem;
	color: #FCFCFC;
}

.div-detail {
	height: 70%;
	text-align: left;
	padding: 0 0.8rem;
	font-size: 1.05rem;
}

.div-detail p {
	padding-bottom: 1rem;
}

.div-detail p img {
	margin-right: 0.5rem;
}

.p-userName {
	-webkit-margin-before: 0.9em;
    -webkit-margin-after: 0.9em;
	font-size: 1rem;
	color: #FCFCFC;
}

.p-state {
	width: 15%;
	color: white;
	font-size: 0.8rem;
	border-radius: 2rem;
	background: #FF87CF;
	padding: 0.2rem 0;
	margin: 0 43%;
}

.div-my-info {
	display: flex;
	background: #fff;
	border: 1px solid #EFEFEF;
	border-radius: 0.5rem;
	text-align: center;
	height: 6rem;
}

.div-other {
	padding-bottom: 1rem;
}

.div-service p.p-title,
.div-other p.p-title {
	border-bottom: 1px solid #EFEFEF;
	width: 90%;
	color: #ccc;
	margin-left: 1rem;
}

.div-big-block {
	display: flex;
	height: 4.5rem;
}

.div-small-block {
	text-align: center;
	width: 25%;
}

.div-small-block img {
	height: 1.5rem;
}

.div-small-block p {
	color: #333;
}

@media screen and (min-width: 760px) {
	.div-service-other {
		margin-bottom: 10rem;
	}
}

@media screen and (max-width: 760px) {
	.div-service-other {
		margin-bottom: 5rem;
	}
}

.div-service-other {
	background: white;
	border: 1px solid #EFEFEF;
	border-radius: 0.5rem;
	margin-top: 1rem;
	/*margin-bottom: 5rem;*/
}

.div-padding-top {
	padding-top: 1rem;
}

.userIcon {
	width: 3.5rem;
	height: 3.5rem;
	clear: both;
	margin-left: 5.5rem;
	margin-top: 0.5rem;
	border-radius: 3.5rem;
}

.dialog-button {
	background: none;
	border: none;
	color: #199077;
}

.gray {
	/*给图片增加黑白滤镜*/
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(200%);
	filter: gray;
}

.div-detail .person-order {
	color: gray;
	opacity: 0.7;
}