.userInfo {
	width: 100%;
	height: 100%;
	text-align: left;
}

.div-content {
	padding: 1rem 0.5rem;
	font-size: 1.1rem;
}

.p-info {
	width: 100%;
	padding: 1rem 0;
}

.btn-signOut {
	width: 100%;
	height: 3rem;
	color: #333;
	font-weight: bold;
	font-size: 1.05rem;
	background: #eee;
	border: none;
	outline: none;
}

.header-pic {
	width: 4rem;
	height: 4rem;
	border-radius: 4rem;
}


